# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

equip_processing.lua
export.lua
flow.lua
gearswap.lua
helper_functions.lua
packet_parsing.lua
readme.md
README.md
refresh.lua
statics.lua
targets.lua
triggers.lua
user_functions.lua
validate.lua
version_history.txt
data/User-Globals.lua
beta_examples_and_information/*
data/instructions.txt
libs/Mote-*
libs/rev1/*
*_Gear.lua
*_Crafting.lua
*-Items.lua
*-Globals.lua
data/export/*
data/common/*
data/User/*
data/Extras/*
libs/closetCleaner.lua
Rename.bat
Modes.lua
organizer-lib.lua